@using InternetAuction.BLL.Models;
@using InternetAuction.Web.Helpers

@model InternetAuction.Web.ViewModels.UserViewModel

@{
    ViewBag.Title = "Users";
}

@section sidebar
{
    <div class="row">
        @Html.Partial("UserSearchPartial", new UserSearchModel())
    </div>
}

<h2>Users</h2>
<hr /> 
@foreach (var item in Model.Users)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.FirstName @item.LastName</h5>
            <p class="card-text">
                Email - @item.Email<br />
                Phone - @item.PhoneNumber<br />
            </p>
            <div>
                <a href="@Url.Action("UserProfile", new { id = item.Id })" class="btn btn-dark">Profile</a>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, page => Url.Action(
        Request.RequestContext.RouteData.Values["action"].ToString(),
        new { page = page }))
</div>