@model InternetAuction.BLL.Models.UserModel

<div>
    <h2>@Model.FirstName @Model.LastName</h2>
    <hr />

    @Html.ActionLink("Sold Lots", "SoldLots", "Lots", new { userId = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Purchased Lots", "PurchasedLots", "Lots", new { userId = Model.Id }, new { @class = "btn btn-warning" })

    <table class="table w-50 p-0 mt-3">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Email)</td>
                <td class="font-weight-bold">@Html.DisplayFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.UserName)</td>
                <td class="font-weight-bold">@Html.DisplayFor(m => m.UserName)</td>
            </tr>
            <tr class="border-bottom">
                <td>@Html.DisplayNameFor(m => m.PhoneNumber)</td>
                <td class="font-weight-bold">@Html.DisplayFor(m => m.PhoneNumber)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <input type="submit" name="Logout" value="Logout" class="btn btn-danger" />
    }

    @foreach (var lot in Model.SaleLots)
    {
        @Html.ActionLink("Lot", "Details", "Lots", new { id = lot.Id }, null)
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Lots", "Lots")
</p>
