@using InternetAuction.BLL.Models;
@using InternetAuction.Web.Helpers
@using InternetAuction.Web.ViewModels;

@model UserViewModel

@{
    ViewBag.Title = "Users";
}

@section sidebar
{
    <div class="row">
        @Html.Partial("UserSearchPartial", new UserSearchModel())
    </div>
}

@helper SortLink(string text, string orderBy)
{
    @Html.ActionLink(text, Request.RequestContext.RouteData.Values["action"].ToString(),
        new
        {
            Email = Request.QueryString["Email"],
            FirstName = Request.QueryString["FirstName"],
            LastName = Request.QueryString["LastName"],
            orderBy = orderBy
        },
        new { @class = "btn btn-outline-dark mb-1" })
}

<h2 class="font-weight-light">Users</h2>

<div>
    <span class="h5 font-weight-light mr-1">Order by:</span>
    @SortLink("Email", "Email")
    @SortLink("Email Descending", "EmailDesc")
    @SortLink("Last Name", "LastName")
    @SortLink("Last Name Descending", "LastNameDesc")
</div>

<hr />
@foreach (var item in Model.Users)
{
    <div class="card mb-3">
        <div class="card-header">
            User ID - @item.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@item.FirstName @item.LastName</h5>
            <p class="card-text">
                Email - @item.Email<br />
                Phone - @item.PhoneNumber<br />
            </p>
        </div>
        <div class="card-footer">
            <div class="col-12">
                <a href="@Url.Action("UserProfile", new { id = item.Id })" class="btn btn-dark col-lg-3">Profile</a>
            </div>
            <div class="col-12 mt-1">
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info col-lg-3">Edit</a>
            </div>
        </div>
    </div>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, page => Url.Action(
        Request.RequestContext.RouteData.Values["action"].ToString(),
        new
            {
                Email = Request.QueryString["Email"],
            FirstName = Request.QueryString["FirstName"],
            LastName = Request.QueryString["LastName"],
            orderBy = Request.QueryString["orderBy"],
            page = page
        }))
</div>

@section scripts {
    @Scripts.Render("~/bundles/customScripts/userSearchToggle")
}