@using AppRoles = InternetAuction.BLL.Infrastructure.Roles;

@model IEnumerable<InternetAuction.BLL.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@item.FirstName</h5>
            <p class="card-text">
                Email - @item.Email<br />
                Phone - @item.PhoneNumber<br />
            </p>
            <div>
                <a href="@Url.Action("UserProfile", new { id = item.Id })" class="btn btn-dark">Profile</a>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}
