@using InternetAuction.Web.ViewModels;
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@using InternetAuction.Web.Infrastructure;

@model InternetAuction.BLL.Models.LotModel

@section sidebar
{
    <div  class="col-12 mb-2">
        <input id="showInfoButton" type="button" name="Info" value="Lot Info" class="btn btn-info col-12 font-weight-bold" />
    </div>

    <div id="InfoBlock" class="container">

        <h3>Lot Info:</h3>
        <table class="table w-100 p-0">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.SaleType)</td>
                    <td class="font-weight-bold">@Model.SaleType.GetDisplayName()</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.StartPrice)</td>
                    <td class="font-weight-bold">@string.Format(new CultureInfo("en-US", false), "{0:c0}", Model.StartPrice)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.TurnkeyPrice)</td>
                    <td class="font-weight-bold">@string.Format(new CultureInfo("en-US", false), "{0:c0}", Model.TurnkeyPrice)</td>
                </tr>
            </tbody>
        </table>

        @if (Model.IsActive)
        {
            if (User.Identity.IsAuthenticated
                && User.Identity.GetUserId() != Model.SellerId)
            {
                <hr class="bg-dark" />
                <div>
                    @Html.Partial("~/Views/Bet/PlaceBetPartial.cshtml", new BetViewModel() { LotId = Model.Id })
                </div>

                <hr class="bg-dark" />
                <div>
                    <h3>Buy the lot</h3>

                    @using (Html.BeginForm("Buy", "Lots", new { lotId = Model.Id }, FormMethod.Post, new { @class = "" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group ">
                            @Html.Label(string.Format(new CultureInfo("en-US", false), "{0:c0}", Model.TurnkeyPrice), htmlAttributes: new { @class = "control-label col-lg-12" })
                            <button type="submit" value="Buy" class="btn btn-success col-lg-12">Buy</button>
                        </div>
                    }
                </div>
            }

            if (User.Identity.GetUserId() == Model.SellerId)
            {
                var bet = Model.Bets.OrderByDescending(b => b.Sum).FirstOrDefault();

                <h3>Current bet:</h3>

                if (bet is null)
                {
                    <p>No bet yet</p>
                }
                else
                {
                    using (Html.BeginForm("Sell", "Lots", new { lotId = bet.LotId, betId = bet.Id }, FormMethod.Post, new { @class = "" }))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group ">
                            @Html.Label(string.Format(new CultureInfo("en-US", false), "{0:c0}", bet.Sum), htmlAttributes: new { @class = "control-label col-lg-12" })
                            <button type="submit" value="Sold" class="btn btn-success col-lg-12">Sold</button>
                        </div>
                    }
                }
            }
        }
    </div>

}

<div>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["Success"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@TempData["Error"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <h1>
        @Html.DisplayFor(model => model.Car.Year)
        @Html.DisplayFor(model => model.Car.Brand)
        @Html.DisplayFor(model => model.Car.Model)
    </h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            @{ var i = 0; }
            @foreach (var img in Model.Car.CarImages)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img class="d-block w-100" src="@img.Url" alt="@img.Title">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    @if (User.Identity.GetUserId() == Model.SellerId || User.IsInRole("Admin"))
    {
        <div class="container p-2">
            <div class="row">
                <div class="col-6 col-lg-3">
                    @Html.ActionLink("Edit", "Edit", "Lots", new { id = Model.Id }, new { @class = "btn btn-success col-xs-12 col-lg-12" })
                </div>
                <div class="col-6 col-lg-3">
                    @using (Html.BeginForm("Delete", "Lots", new { id = Model.Id }, FormMethod.Post, new { @class = "col-xs-12 col-lg-12 p-0" }))
                    {
                        <input type="submit" name="Delete" value="Delete" class="btn btn-danger col-xs-12 col-lg-12" />
                    }
                </div>
            </div>
        </div>
    }

    <div class="container d-flex justify-content-center">
        <table class="table w-75">
            <thead>
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Car.EngineType)</td>
                    <td>@Html.DisplayFor(m => m.Car.EngineType)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Car.Mileage)</td>
                    <td>@Html.DisplayFor(m => m.Car.Mileage)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Car.Year)</td>
                    <td>@Html.DisplayFor(m => m.Car.Year)</td>
                </tr>
            </tbody>
        </table>
    </div>


    @foreach (var bet in Model.Bets)
    {
        <p>@bet.Sum<br /></p>
    }

</div>

<p>

    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.SellerId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Lots")
</p>