@using InternetAuction.Web.ViewModels;
@using InternetAuction.Web.Infrastructure;
@using Microsoft.AspNet.Identity;

@model InternetAuction.BLL.Models.LotModel

<div>
    <h4>LotModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleType)
        </dt>

        <dd>
            @Model.SaleType.GetDisplayName()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnkeyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnkeyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.TechnicalPassport.BodyType)
        </dt>

        <dd>
            @Model.Car.TechnicalPassport.BodyType.GetDisplayName()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.TechnicalPassport.HasKeys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.TechnicalPassport.HasKeys)
        </dd>
    </dl>
    @foreach (var img in Model.Car.CarImages)
    {
        <img src="@img.Url" alt="@img.Title" />
    }

    @foreach (var bet in Model.Bets)
    {
        <p>@bet.Sum<br /></p>
    }

</div>

<div>
    @Html.Partial("~/Views/Bet/PlaceBet.cshtml", new BetViewModel() { LotId = Model.Id })
</div>

<p>

    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.SellerId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts
{
    @Scripts.Render("~/Scripts/customScripts")
    @*<script>
        $('body').on('submit', '#form', (e) => func(e));

        function func(e) {
            e.preventDefault();

            var form = $('#form');
            var url = form.attr('action');
            var type = form.attr('method');

            $.ajax({
                type: type,
                url: url,
                data: form.serialize(),
                success: function (data) {
                    alert(data);
                    form.parent("div").html(data);
                }
            });
        };
    </script>*@
}