@using InternetAuction.BLL.Models;
@using InternetAuction.Web.ViewModels;
@using InternetAuction.Web.Helpers

@model LotViewModel

@{ 
    ViewBag.Title = "Lots";
}

@section sidebar
{
    <div class="row">
        @Html.Partial("SearchPartial", new SearchModel())
    </div>
}

<h1>@ViewBag.Title</h1>

<div class="row">

    @foreach (var item in Model.Lots)
    {
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card h-100">
                <a href="@Url.Action("Details", "Lots", new { id = item.Id })">
                    @if (item.Car.CarImages is null || item.Car.CarImages.Count == 0)
                    {

                        <img class="card-img-top" src="~/Content/images/default-car.png"
                             alt="car"
                             @if (!item.IsActive) { <text> style="filter: grayscale(100%);" </text> }>

                    }
                    else
                    {
                        <img class="card-img-top" height="350"
                             src="@item.Car.CarImages.First().Url"
                             alt="@item.Car.CarImages.First().Title"
                             @if (!item.IsActive) { <text> style="filter: grayscale(100%);" </text> }>
                    }
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@Url.Action("Details", "Lots", new { id = item.Id })" class="text-dark">@item.Car.Brand @item.Car.Model</a>
                        @if (!item.IsActive)
                        {
                            <span class="text-warning">Inactive lot</span>
                        }
                    </h4>
                    <p class="card-text text-muted">2015 | 37803 Km | Disel | Automatic | Sedan</p>
                </div>
                <div class="card-footer">
                    <span class="font-weight-bold">
                        @if (item.Bets.Count == 0)
                        {
                            <text>No bet yet</text>
                        }
                        else
                        {
                            <text>Current bet - @item.Bets.Max(b => b.Sum) $</text>
                        }
                    </span>
                    <a href="@Url.Action("Details", "Lots", new { id = item.Id })" class="btn btn-dark float-right">Details</a>
                </div>
            </div>
        </div>
    }
</div>

@{ 
    Func<int, string> func = page => Url.Action(
        Request.RequestContext.RouteData.Values["action"].ToString(), 
        new
        {
            userId = ViewBag.UserId,
            page = page
        }); 
}

@if (ViewBag.Query == "Search")
{
    func = page => Url.Action(
        Request.RequestContext.RouteData.Values["action"].ToString(),
        new
        {
            Brand = Request.QueryString["Brand"],
            CarModel = Request.QueryString["CarModel"],
            DriveUnit = Request.QueryString["DriveUnit"],
            BodyType = Request.QueryString["BodyType"],
            MinPrice = Request.QueryString["MinPrice"],
            MaxPrice = Request.QueryString["MaxPrice"],
            userId = ViewBag.UserId,
            page = page
        });
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, func)
    @*page => Url.Action(ViewBag.Query, new { userId = ViewBag.UserId, page })*@
</div>

